import React from 'react';
import { <%=ComponentName%>Box } from './style';

export default function <%=ComponentName%>() {
  return <<%=ComponentName%>Box><%=ComponentName%></<%=ComponentName%>Box>;
}
